
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AllUsers</title>
</head>

<body>
<div th:switch="${userList}">
  <h2 th:case="null">No users found!</h2>
  <div th:case="*">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>

        <td><a th:href="@{user-update/{id}(id=${user.id})}">Edit</a></td>
        <td><form th:method="DELETE" th:action="@{user-delete/{id}(id=${user.getId()})}">
          <input type="submit" value="Delete"/>
        </form>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/user-create">Create user</a></p>
</div>
</body>
</html>